1. Simple List

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

#A basic list of strings.

['apple', 'banana', 'cherry']

2. List with Mixed Data Types

In [ ]:
mixed = [25, "hello", 3.14, True]
print(mixed)

[25, 'hello', 3.14, True]

3. Accessing Elements

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[0])   # First element
print(numbers[4])  # Last element

10
50

4. Updating Elements

In [ ]:
colors = ["red", "green", "blue"]
colors[0] = "yellow"
print(colors)

['yellow', 'green', 'blue']

5. Appending to a List

In [ ]:
animals = ["dog", "cat"]
animals.append("lion")
print(animals)

['dog', 'cat', 'lion']

6. Extending a List

In [ ]:
list1 = [1, 2]
list2 = [3, 4, 5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

7. Inserting into a List

In [ ]:
cars = ["BMW", "Audi", "Tesla"]
cars.insert(1, "Toyota")
print(cars)

['BMW', 'Toyota', 'Audi', 'Tesla']

8. Removing Elements

In [ ]:
languages = ["Python", "Java", "C++", "Python"]
languages.remove("Python")
print(languages)

['Java', 'C++', 'Python']

9. List Slicing

In [ ]:
nums = [10, 20, 30, 40, 50, 60]
print(nums[1:4])   # from index 1 to 3
print(nums[:3])    # first 3 elements
print(nums[3:])    # elements from index 3 to end

[20, 30, 40]
[10, 20, 30]
[40, 50, 60]

In [ ]:
Animals=["dog","cow","lion","tiger","rat",]
Animals.append("cat")
print(Animals)

['dog', 'cow', 'lion', 'tiger', 'rat', 'cat']

In [ ]:
Animals=["dog","cow","lion","tiger","rat"]
Animals.append("cat")
print(Animals)

['dog', 'cow', 'lion', 'tiger', 'rat', 'cat']